.animation, .animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
}

.animation_layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax{
  position: fixed;
}

#sky {
  background-image: url(./static/parallax0-copy.png)
}

#backmountains {
  background-image: url(./static/parallax1-copy.png);
}

#cliffs {
  background-image: url(./static/parallax2-copy.png);
}

#trees {
  background-image: url(./static/parallax3-copy.png);
}

#field {
  background-image: url(./static/parallax4-copy.png)
}

#name {
  font-size: 10vw;
  color: white;
  top: -10vw;
  text-align: center;
}

#textblock {
  background-color: #465a8a;
  padding: 2vw;
}